*.log
logs
*.lock
.DS_Store
Thumbs.db

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

node_modules/
jspm_packages/

.npm
.eslintcache
.node_repl_history

*.tgz
.yarn-integrity

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vscode/*
!.vscode/extensions.json

.cache
.next/
out/
dist
build
.vercel

.turbo
nul
